<div class="bg-beige">
    <div class="container row col-12">
        <div class="col-lg-7 p-lg-5">
            <div class="col-lg-10">
                <h3 class="center font-serif fw-bold" style="font-size: 3rem;">TASTE OUR RAKIJA</h3>
                <p class="font-serif">Rakija is a popular fruit brandy in the Balkans, similar to brandy or vodka. It's typically around
                    40% alcohol by volume (ABV), but homemade rakija can be much stronger. You'll find it spelled and
                    pronounced in a few different ways depending on the country: rakia, rakija, rachiu, or raki.</p>
            </div>
            <div class="">
                <div class="text-left m-lg-2">
                    <p class="font-serif">Contact us:</p>
                </div>
                <div class="text-left m-lg-2">
                    <i class="fa-solid fa-phone"></i>
                    <span> +381603050778</span>
                </div>
                <div class="text-left m-lg-2">
                    <i class="fa-solid fa-envelope"></i>
                    <span> petarmirkovic@gmail.com</span>
                </div>
                <div class="col-12 text-left">
                    <a class="fa-brands fa-facebook fa-lg m-2" style="color: black;"
                        href="https://www.facebook.com/pekiii99" target="_blank"></a>
                    <a class="fa-brands fa-instagram fa-lg m-2" style="color: black;"
                        href="https://www.instagram.com/peki.mirkovic/?hl=sr" target="_blank"></a>
                    <a class="fa-brands fa-tiktok fa-lg m-2" style="color: black;" href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-5 p-lg-5">
            <div class="col-lg-12 row m-lg-2">
                <h5>Name:<span class="text-transparent">(required)</span></h5>
                <div class="col-lg-6">
                    <label for="email" class="labela">First name</label>
                    <input type="email" id="email" pattern=".+@example\.com" size="45" required
                        class="inputPolje rounded-5 col-12" />
                </div>
                <div class="col-lg-6">
                    <label for="email" class="labela">Last name</label>
                    <input type="email" id="email" pattern=".+@example\.com" size="45" required
                        class="inputPolje rounded-5 col-12" />
                </div>
            </div>
            <div class="col-lg-12 m-lg-2">
                <label for="email" class="labela">Email <span class="text-transparent">(required)</span></label>
                <input type="email" id="email" pattern=".+@example\.com" size="45" required
                    class="inputPolje rounded-5 col-12" />

                <label for="message" class="labela mt-lg-2">Message <span class="text-transparent">(required)</span></label>
                <textarea id="message" pattern=".+@example\.com" size="50" cols="50" rows="2"
                    class="inputPolje rounded-5 py-3 col-lg-12 col-md-12"></textarea>
            </div>
            <button type="button" class="btn btn-dark rounded-pill px-5 py-3 m-2" routerLink="#">
                <span class="font-serif">Send</span>
            </button>
        </div>
    </div>
</div>