<section class="bg-orange d-flex justify-content-center align-items-center">
    <div class="container row align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 ">
            <h1 class="font-serif" style="font-size: 4rem;">SIP SOME OF OUR DELICIOUS RAKIJA!</h1>
            <h4 class="font-serif">Welcome to our fruty wonderland, where every drop is a taste of our small orchard charm.</h4>
            <button type="button" class="btn btn-dark rounded-pill px-5 py-3 mb-2">
                <span class="font3">Learn More</span>
            </button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-2">
            <img src="../../assets/vocnjak.jpg" class="img-fluid">
        </div>
    </div>
</section>

<section class="bg-beige d-flex justify-content-center align-items-center">
    <div class="container row py-5">
        <div class="col-12 text-center">
            <h2 class="font-serif" style="font-size: 4rem;">SAVOR THE DELIGHT OF HANDCRAFTED TRADITION</h2>
        </div>

        <div class="row d-flex py-4">
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <img src="/assets/dunjevaca.webp" class="rounded-circle img-fluid img">
                <p class="font-serif fw-bold text-uppercase">Ovo je rakija od Dunje!</p>
            </div>
        
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <img src="/assets/kajsija.webp" class="rounded-circle img-fluid img">
                <p class="font-serif fw-bold text-uppercase">Ovo je rakija od Kajsije!</p>
            </div>
       
            <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                <img src="/assets/sljivovica.jpg" class="rounded-circle img-fluid img">
                <p class="font-serif fw-bold text-uppercase">Ovo je rakija od Sljive!</p>
            </div>
        </div>

        <div style="width: 100%;" class="text-center mb-2">
            <button type="button" class="btn btn-dark rounded-pill px-5 py-3" routerLink="/shop">
                <span class="font5">Shop</span>
                </button>
        </div>

    </div>
</section>

<section class="bg-orange d-flex justify-content-center align-items-center">
    <div class="container row align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6 ">
            <h1 class="font-serif" style="font-size: 4rem;">I HANDCRAFT RAKIJA, A DIVINE TYPE OF BRANDY PERA PROPALICA!</h1>
            <h4 class="font-serif">Embrace the fruity tale of my organic creation! Sip on the essence of small orchards expertly distilled to perfection.</h4>
            <button type="button" class="btn btn-dark rounded-pill px-5 py-3 mb-2">
                <span class="font3">Learn More</span>
            </button>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 py-2">
            <img src="../../assets/voce.jpg" class="img-fluid">
        </div>
    </div>
</section>


