*{
    margin: 0;
    padding: 0;
}
.bg-orange{
    background-color: #f1a638;
}
.bg-beige{
    background-color: #e7d1b5;
}
.font-serif{
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}