<div class="row col-12 bg-beige p-lg-4">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="col-10 ps-5">
            <h2 class="font-serif" style="font-size: 4rem;">WELCOME TO THE REALM OF PEICA</h2>
            <p class="font-serif">Starost: Perine godine zavise od vaše priče. Možda je iskusno lice sa bogatim znanjem o istoriji i tradiciji Sokobanje. Ili je možda mlad preduzetnik koji vodi šarmantan restoran sa ukusnom regionalnom kuhinjom.
            Izgled: Pera verovatno ima srdačan i prijatan izgled. Možda ima vedre oči koje se naboraju u krajevima kada se osmehne. Njegove crte lica mogu odavati srpsko poreklo, sa tamnom kosom i opaljenom puti od godina provedenih na otvorenom. Zavisno od starosti, možda ima prosed prošarano bradu ili punu kosu.
            Zanimanje: Perino zanimanje može biti bilo šta što reflektuje život u Sokobanji. Evo nekoliko ideja:
            Lokalni zanatlija: Pera bi mogao biti vešti zanatlija koji pravi prelepe rukotvorine od vune, možda čak i tradicionalne pere šubare.
            Turistički vodič: Perinu strast prema svom rodnom gradu možda ga je učinila turističkim vodičem, koji deli skrivene dragulje i bogatu istoriju Sokobanje sa posetiocima.</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <img src="/assets/oNama.jpg" class="img-fluid">
    </div>
</div>