*{
    margin: 0;
    padding: 0;
}
.font-serif{
    font-size: 18px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    
}
.inputPolje
{
    background-color: transparent;
}
.labela
{
    width: 100%;
}
.text-transparent
{
    color: rgb(0,0,0,0.5);
}