<div class="row col-12">
    <div class="col-sm-12 col-md-6 col-lg-6 p-2">
        <p class="font-serif" style="font-size: 2rem;">TASTE THE FRUITS OF SERBIA</p>
        <p class="font-serif">Indulge in the rich flavors of Rakija, expertly crafted from organic fruits picked from small
            orchards. One sip, and you'll be transported to the hearth of Serbia.</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 d-flex flex-wrap align-items-center p-2">
        <div class="col-lg-12">
            <label for="email" class="labela">Email <span class="text-transparent">(required)</span></label>
            <input type="email" id="email" pattern=".+@example\.com" size="45" required class="inputPolje rounded-5 col-lg-12" />

            <label for="message" class="labela">Message <span class="text-transparent">(required)</span></label>
            <textarea id="message" pattern=".+@example\.com" size="50" cols="50" rows="2"
                class="inputPolje rounded-5 py-3 col-lg-12"></textarea>
        </div>

        <button type="button" class="btn btn-dark rounded-pill px-5 py-3 mt-2" routerLink="#">
            <span class="font-serif">Send</span>
        </button>
    </div>
</div>