<div *ngIf="proizvod">
    <div class="text-center" id="{{proizvod.id}}">
        <div>
            <h3 class="font-serif" style="font-size: 2rem;">{{proizvod.naziv}}</h3>
        </div>
        <div>
            <img src="{{proizvod.slika}}" class="img-fluid img" >
        </div>
        <div style="height: 5rem;">
            <p class="font-serif">{{proizvod.opis}}</p>
        </div>
        <div class="col-12 row ms-2">
            <div class="col-9 mt-1">
                <p class="font-serif" style="border: 1px solid black;">{{proizvod.cena}} RSD</p>
            </div>
            <div class="col-3">
                <button class="btn btn-dark" (click)="addtocart(proizvod)">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </div>
        </div>
    </div>
</div>
